html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;

    -webkit-user-select: none; /* Safari, Chrome, and Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer and Edge */
  }


  